
{% extends "@PrestaShop/Admin/layout.html.twig" %}
{% block content %}
    
    <h1>Configuration</h1>
    <p class="lead">Sagapao importer configurator</p>
    <div class=""> 
    {{form_start(form)}}

    {{form_end(form)}}
    </div>
{% endblock %}