{% extends "@PrestaShop/Admin/layout.html.twig" %}
{% block content %}
	<h1>Import products</h1>

	<button id="importBtn" class="btn btn-action" data-url="{{ path('productimporter-import-products') }}">Import test products</button>


{% endblock %}
